*{
  margin: 0;
  box-sizing: border-box;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex-grow: 1;
    background-color: black;
  }
  footer {
    background-color: black;
    background-image: linear-gradient(0deg, #000000 0%, #2d2d2d 100%);
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  .navbarLink{
    text-decoration: none;
}
.imagen{
  border: 0,5px;
  border-radius: 5%;
}
.bordes-cadaProd{
  /* border:3px solid rgb(0, 100, 0); */
  border:3px solid white;
  border-radius: 3%;
}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(43, 146, 22);
  border-radius: 3%;
  padding: 15px 20px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #025c02;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #018128;
}
.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #018128;
}

.datatable{
  /* font-family: "Lucida Console", Monaco, monospace; */
  Font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
  font-size: 14px;
  border: 1px solid  white;
 
}
.thead_table{
  background-color: #018128;
}
.separador{
  border: 1px solid ;
  text-align:center;
}
.boton{
 
    color: black;
    border: 2px solid rgb(43, 146, 22);
    border-radius: 5%;
    padding: 5px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #025c02;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
.boton_eliminar{
 
    color: black;
    border: 2px solid #ac1813;
    border-radius: 5%;
    padding: 5px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ac1813;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_down_eliminar:hover {
    box-shadow: inset 0 100px 0 0 #ac1813;
    border: 2px solid rgb(255, 255, 255);
   color: white;
  }
  .slide_right_eliminar:hover{
    box-shadow: inset 400px 0 0 0#ac1813;
    border: 2px solid rgb(255, 255, 255);
   color: white;
  }
.letra{
  font-family: "Lucida Console", Monaco, monospace;
}

.card{
  transition: all 300ms;
  box-shadow: 5px 5px  rgb(3, 75, 19)
}
.card:hover{
  width: 280px;
filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
 
}